<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
  <h1> <%= @cocktail.name %></h1>
</div>
<div>
  <div class="container-fluid mt-3 d-flex justify-content-around">
    <div class="ingredients">
      <h2>Ingredients</h2>
      </br>
      <% @cocktail.doses.each do |dose| %>
        <p>
          <%= dose.ingredient.name %>
          (<%= dose.description %>)
          <%= link_to "Delete",
                      dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        </p>
      <% end %>
    </div>
    </br>
    <div class="dose-form">
      <h3>New dose</h3>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
